<div class="container-fluid">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="dashboard-info-header text-center">
                        <i class="fa fa-comments fa-fw"></i> Overall Tasks Created
                    </div>
                </div>
            </div>
            <div class="text-center dashboard-info-value">
                <span class="text-primary">{{taskOverviewData.tasksCount}}</span>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="dashboard-info-header text-center">
                        <i class="fa fa-comments fa-fw"></i> Tasks Created Last Week
                    </div>
                </div>
            </div>
            <div class="text-center dashboard-info-value">
                <span class="text-primary">{{taskOverviewData.taskAddedInLastWeek}}</span>
            </div>
        </div>
    </div>
</div>

